# 测试文件

.vscode
/llvm-project
/tests/toyCompiler
/.DS_Store
/tests/Test1/llvm.cpp

src/
test.c

build/
lexer.cpp
microlexer.cpp
parser.cpp
parser.hpp
test.c
a.out
simpledemo.o
quicksort.out
Matrix.out
Advisor.out
MicroDef.out
quicksort.o
Matrix.o
Advisor.o
MicroDef.o
