# 测试文件

.vscode
/llvm-project
/tests/toyCompiler
/.DS_Store
/tests/Test1/llvm.cpp

src/
test.c

build/
lexer.cpp
parser.cpp
parser.hpp
test.c
a.out
simpledemo.o
Compiler.o
quickSort.out
matrix.out
Advisor.out
Sort_run.sh
Array_run.sh
Advisor_run.sh
Test_run.sh
input.txt
output.txt

